/**
 * @author Viacheslav Lotsmanov
 */

@import 'variables'

@require 'bootstrap'
@require 'nib'

@import 'mixins'
@import 'fonts'

html, body
	height 100%

header
	@import 'header'

maxw($mw=$max-width)
	margin 0 auto
	max-width $mw

.top-part
	maxw()
	position relative
	min-height 100%
	padding-bottom ($footer-height + 80px)

.body-grid.container
	z-index 10
	position relative

	.catalog-menu
		@import 'catalog-menu'

footer
	@import 'footer'

//@media (min-width $screen-md-min)
