/**
 * @author Viacheslav Lotsmanov
 */

@import 'variables'

@require 'bootstrap'
@require 'nib'

@import 'mixins'
@import 'fonts'

html, body
	height 100%

body
	min-width $min-width

header
	@import 'header'

@viewport
	width device-width
	min-width $min-width

maxw($mw=$max-width)
	margin 0 auto
	max-width $mw

.top-part
	maxw()
	position relative
	min-height 100%
	padding-bottom ($footer-height + 80px)

	@media (max-width $screen-sm-max)
		padding-bottom 40px
		min-height auto

.body-grid.container
	z-index 10
	position relative

	&:after
		pseudo-block()
		clear both

	.col
		&:nth-child(1)
			width (219px + $grid-gutter-width)
			margin-left 4px

			@media (max-width $screen-sm-max)
				width auto
				margin-left 0

		&:nth-child(2)
			float right
			width (640px + $grid-gutter-width)

			@media (max-width $screen-sm-max)
				width auto
				float none

	.catalog-menu
		@import 'catalog-menu'

	main
		@import 'content'

footer
	@import 'footer'

//@media (min-width $screen-md-min)
