/**
 * variables
 *
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

$revision = 1

// paths

	$rev-qs = '?v=' + $revision
	$root-path = '../../'
	$images-path = pathjoin($root-path, 'images')
	$fonts-path = pathjoin($root-path, 'fonts')
	//$icons-path = pathjoin($images-path, 'icons')
	//$vector-icons-path = pathjoin($images-path, 'vector-icons')

// sizes

	$main-margin = 40px

	$max-width = 1843px

	$fixed-top-block-height = 40px

	$header-height = 286px
	$header-bg-height = 120px

	$footer-height = 139px

	// overwrite bootstrap
	$container-lg = $container-md

// animations

	$anim-speed = 0.4s
	$anim-curve = ease-in
